.header-bg{
    background-color: white!important;
}

.container {
    width: 100% !important;
}

.nav>li:hover {
    background-color: #CCCCCC;
    color: white;
}

.navbar-default .navbar-nav>li>a{
    color: green;
}

.navbar-brand{
    color: black!important;
}

.icon{
    color: black!important;
}

.nav>li {
    color: #060B0F;
    width: 140px;
    text-align: center;
    font-size: 18px;
    height: 100%;
}

.navbar-brand:hover{
    color: aqua;
}

.home-container{
    background-position: center;
    background-size: cover;
    background-image: url("../img/home-background.jpg");
    display: block;
    height: 800px;
    margin-top: -20px;
}

.home-body-title{
    font-size: 60px;
    color: white;
    padding-left: 70px;
    padding-top: 135px;
}

.home-body-head{
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 70px;
}

.btn-homepage {
    margin-left: 75px !important;
    margin-top: 16px;
    height: 50px;
    border: 0px !important;
}

.modal-title{
    text-align: center;
    font-size: 25px;
}

.modal-dialog{
    width: 355px;
    margin-top: 100px;
}

.sigin-form-pass{
    margin-top: 15px;
}

.signin-form{
    font-size: 18px;
}

.signin-bot-space{
    margin-bottom: 12px;
}

.signup-link{
    font-size: 18px;
    margin-right: 80px;
}

.signin-message {
    color: red;
}

.page-body {
    background-color: #F4F4F9;
    width: 100%;
    height: 800px;
    margin-top: -20px;
}

.page-content{
    width: 60%;
    background-color: white;
    border-top: 4px solid deepskyblue;
    margin-left: 20%;
    height: 400px;
}

.design-page{
    height: 700px!important;
}

.page-mid-space{
    height: 5%;
}

.about-content{
    margin-top: 20px;
    margin-left: 6%;
    font-size: 30px;
}

.contact-content{
    margin-top: 20px;
    margin-left: 6%;
    font-size: 30px;
    width: 83%;
}

.contact-message{
    margin-top: 30px;
}

.contact-textarea{
    height: 155px!important;
}

.contact-message-center{
    text-align: center;
}

.welcome-user{
    text-align: center!important;
    width: 160px !important;
}

.welcome-user .icon{
    color: orange!important;
}

.welcome-user span{
    color: red!important;
}

.survey-content{
    width: 95%;
    margin-top: 3%;
    margin-left: 3%;
}

.survey-name{
    margin-left: 5px;
    width: 43%;
    padding-left: 5px;
}

table {
    margin-top: 20px;
    padding: 1em 1em 5em 1em;
}

.btn-survey{
    margin-left: 3px;
    width: 80px;
}

tr{
    height: 45px;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
    margin-top: 5px;
}

.design-survey{
    height: 10%!important;
    width: 60%;
    margin-left: 20%;
    padding-top: 41px;
    font-size: 25px;
}

.btn-save-survey{
    margin-left: 65%;
    width: 83px;
    margin-bottom: 5px;
}

.design-survey .icon{
    font-size: 15px!important;
    color: red !important;
}

.design-survey .icon:hover{
    cursor: pointer;
}

.edit-survey-input{
    float: left;
}

.edit-setting{
    font-size: 15px;
    margin-left: 5px;
    font-weight: 600;
}

.edit-setting:hover{
    cursor: pointer;
    color: blue;
}

.toolbox{
    font-size: 15px;
    margin-left: 30px;
}

.edit-design{
    margin-top: 10px;
}

.edit-toolbox{
    width: 20%;
    border: 1px solid #00BFFF;
    float: left;
}

.edit-show{
    height: 400px;
    margin-left: 21%;
    width: 79%;
    border: 1px solid orange;
}

.toolbox-table{
    margin-top: 0px!important;
    width: 100%;
}

.toolbox-table span{
    margin-left: 5%;
    font-size: 17px;
}

.toolbox-table span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btn-add-page{
    margin-left: 59%;
}

.edit-page-list{
    margin-top: 5px;
    margin-left: 1%;
    width: 98%;
    height: 35px;
    border-bottom: 1px solid yellowgreen;
}

.setting-title{
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-area{
    margin-top: 0%;
    width: 98%;
    margin-left: 1%;
}

.show-component{
    position: relative;
    top: -5px;
}

.remove-page{
    margin-left: 98%;
}

.remove-page:hover{
    color: red;
    cursor: pointer;
}

.component-survey{
    border: 1px solid #00BFFF;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.single-text{
    width: 100%;
    margin-left: 2%;
}

.single-text-name{
    width: 100%;
}

.single-text-input{
    width: 100%;
}

.single-text-input .text-question{
    width: 93%;
    float: left;
}

.single-text-input .glyphicon-trash{
    margin-left: 7px;
    margin-top: 8px;
    color: red;
}

.single-text-input .glyphicon-trash:hover{
    cursor: pointer;
}

.select-type-text{
    margin-left: 64%;
    width: 40%;
}

.select-type-text select{
    width: 100px;
}