.header-bg{
    background-color: white!important;
}

.container {
    width: 100% !important;
}

.nav>li:hover {
    background-color: #CCCCCC;
    color: white;
}

.navbar-default .navbar-nav>li>a{
    color: green;
}

.navbar-brand{
    color: black!important;
}

.icon{
    color: black!important;
}

.nav>li {
    color: #060B0F;
    width: 140px;
    text-align: center;
    font-size: 18px;
    height: 100%;
}

.navbar-brand:hover{
    color: aqua;
}

.home-container{
    background-position: center;
    background-size: cover;
    background-image: url("../img/home-background.jpg");
    display: block;
    height: 800px;
    margin-top: -20px;
}

.home-body-title{
    font-size: 60px;
    color: white;
    padding-left: 70px;
    padding-top: 135px;
}

.home-body-head{
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 70px;
}

.btn-homepage {
    margin-left: 75px !important;
    margin-top: 16px;
    height: 50px;
    border: 0px !important;
}

.modal-title{
    text-align: center;
    font-size: 25px;
}

.modal-dialog{
    width: 355px;
    margin-top: 100px;
}

.sigin-form-pass{
    margin-top: 15px;
}

.signin-form{
    font-size: 18px;
    width: 107px;
}

.signin-bot-space{
    margin-bottom: 12px;
}

.signup-link{
    font-size: 18px;
    margin-right: 80px;
}

.signin-message {
    color: red;
}

.page-body {
    background-color: #F4F4F9;
    width: 100%;
    height: 800px;
    margin-top: -20px;
}

.page-content{
    width: 60%;
    background-color: white;
    border-top: 4px solid deepskyblue;
    margin-left: 20%;
    height: 400px;
}

.design-page{
    height: 700px!important;
}

.page-mid-space{
    height: 5%;
}

.about-content{
    margin-top: 20px;
    margin-left: 6%;
    font-size: 30px;
}

.contact-content{
    margin-top: 20px;
    margin-left: 6%;
    font-size: 30px;
    width: 83%;
}

.contact-message{
    margin-top: 30px;
}

.contact-textarea{
    height: 155px!important;
}

.contact-message-center{
    text-align: center;
}

.welcome-user{
    text-align: center!important;
    width: 160px !important;
}

.welcome-user .icon{
    color: orange!important;
}

.welcome-user span{
    color: red!important;
}

.survey-content{
    width: 95%;
    margin-top: 3%;
    margin-left: 3%;
}

.survey-name{
    margin-left: 5px;
    width: 43%;
    padding-left: 5px;
}

table {
    margin-top: 20px;
    padding: 1em 1em 5em 1em;
}

.btn-survey{
    margin-left: 3px;
    width: 80px;
}

tr{
    height: 45px;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
    margin-top: 5px;
}

.design-survey{
    height: 10%!important;
    width: 60%;
    margin-left: 20%;
    padding-top: 41px;
    font-size: 25px;
}

.btn-save-survey{
    margin-left: 65%;
    width: 83px;
    margin-bottom: 5px;
    float: right;
}

.design-survey .icon{
    font-size: 15px!important;
    color: red !important;
}

.design-survey .icon:hover{
    cursor: pointer;
}

.edit-survey-input{
    float: left;
}

.edit-setting{
    font-size: 15px;
    margin-left: 5px;
    font-weight: 600;
}

.edit-setting:hover{
    cursor: pointer;
    color: blue;
}

.toolbox{
    font-size: 15px;
    margin-left: 30px;
}

.edit-design{
    margin-top: 10px;
}

.edit-toolbox{
    width: 20%;
    border: 1px solid #00BFFF;
    float: left;
}

.edit-show{
    overflow: auto;
    height: 550px;
    margin-left: 21%;
    width: 79%;
    border: 1px solid orange;
}

.toolbox-table{
    margin-top: 0px!important;
    width: 100%;
}

.toolbox-table span{
    margin-left: 5%;
    font-size: 17px;
}

.toolbox-table span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btn-add-page{
    margin-right: 5px;
}

.edit-page-list{
    margin-top: 5px;
    margin-left: 1%;
    width: 98%;
    height: 35px;
    border-bottom: 1px solid yellowgreen;
}

.setting-title{
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-area{
    margin-top: 0%;
    width: 98%;
    margin-left: 1%;
}

.show-component{
    position: relative;
    top: -5px;
}

.remove-page{
    margin-left: 98%;
}

.remove-page:hover{
    color: red;
    cursor: pointer;
}

.component-survey{
    border: 1px solid #00BFFF;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.single-text{
    width: 100%;
    margin-left: 2%;
}

.single-text-name{
    width: 100%;
}

.single-text-input{
    width: 100%;
}

.single-text-input .text-question{
    width: 93%;
    float: left;
}

.single-text-input .glyphicon-trash{
    margin-left: 7px;
    margin-top: 8px;
    color: red;
}

.single-text-input .glyphicon-trash:hover{
    cursor: pointer;
}

.select-type-text{
    margin-left: 40%;
    width: 40%;
}

.select-type-text input{
    margin-left: 10px;
}

.select-type-text span{
    margin-left: 10px;
}

.select-type-text span:hover{
    cursor: pointer;
    color: darkred;
    text-decoration: underline;
}

.icon-btn{
    color: green;
}

.option-answer{
    margin-top: 20px;
}

.glyphicon-plus-sign{
    color: blue;
    font-size: 24px;
    margin-left: 72%;
}

.glyphicon-plus-sign:hover{
    cursor: pointer;
    color: blue;
    font-size: 24px;
    margin-left: 72%;
}

.option-answer-content table{
    width: 62%;
}

.table-left{
    margin-top: 0px!important;
    width: 47% !important;
    float: left;
    display: inline-block;
}


.table-right{
    width: 47% !important;
    display: inline-block;
    margin-top: 0px!important;
}

.table-right tr:nth-child(even) {
    background-color: white;
    margin-top: 5px;
}

.table-left tr:nth-child(even) {
    background-color: white;
    margin-top: 5px;
}

.matrix-input{
    width: 110%;
}

.matrix-add{
    margin-left: 0%;
    color: orange;
}

.matrix-add:hover{
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.matrix{
    margin-top: -22px;
}

.clear{
    height: 20px;
    float: none;
    margin-bottom: 20px;
}

.do-survey-body{
    width: 92%;
    margin-left: 5%;
    margin-top: 30px;
    overflow: auto;
    height: 800px;
}

.run-survey{
    width: 100%;
}

.do-singletext{
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkbox-survey{
    margin-right: 30px;
}

.checkbox-survey{
    margin-left: 10px;
}

.dropbox-survey{
    width: 75%;
}

.glyphicon-arrow-right{
    color: green;
    float: right;
    font-size: 30px;
    cursor: pointer;
    margin-left: 90%;
}

.glyphicon-arrow-left{
    color: green;
    font-size: 30px;
    cursor: pointer;
}

.confirm-delete{
    font-size: 20px !important;
}

.publish-confirm{
    font-size: 18px;
    color: red;
}

.repeat-password{
    width: 173px!important;
}

.do-survey-title{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.do-page{
    height: 800px !important;
}

.submit-do-survey{
    float: right;
    margin-left: 82%;
    width: 121px;
}

.table-result{
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.header-result{
    border: 1px solid black;
    text-align: center;
}

.table-result tr th {
    text-align: center!important;
}

.th-table-format{
    width: 50px;
}

.table-result tr {
    border: 1px solid black;
}

.table-result td {
    border: 1px solid black;
}

.content-stt{
    width: 400px;
    text-align: left!important;
}

.btn-show-chart{
    width: 120px;
    margin-top: 20px;
    float: right;
    margin-bottom: 20px;
}

.setting-group-btn{
  float: right;
  margin-top: -5px;
}

.tool-css button{
  margin-left: 10px;
  width: 150px;
}

.tool-css{
  width: 90%;
  border: 1px solid black;
}

.question-format{
  width: 100px;
}

.btn-question-chart{
  margin-top: 10px;
  margin-bottom: 5px;
}

.ans-css {
  margin-left: 5%;
}

.span-chart-content{
  text-align: left;
  margin-left: 19%;
}

.chart-show{
  margin-top: 20px;
  width: 500px;
  height: 400px;
}

.question-in-chart{
  margin-top: 30px;
}

.icon-required{
  color: red;
}
